@charset "utf-8";

body,
html {
  padding: 0;
  margin: 0;
}

body {
  padding: 44px 0;
}

.header {
  background: #5fc0cd;
  height: 44px;
  color: white;
  font-size: 18px;
  line-height: 44px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.header img {
  left: 0;
  position: absolute;
  width: 11px;
  height: 18px;
  padding-top: 13px;
  margin-left: 25px;
}

.banner {
  display: flex;
  background: url(./img/backimg.png) no-repeat;
  background-size: cover;
  height: 150px;
}

.user {
  display: flex;
  align-items: center;
}

.user img {
  padding-left: 25px;
  width: 84px;
  height: 84px;
}

.name {
  color: white;
  font-size: 18px;
  padding-left: 25px;
}

.age {
  font-size: 14px;
  padding-left: 10px;
  vertical-align: middle;
}

.banner .name p {
  color: white;
  font-size: 12px;
  position: relative;
  left: 20px;
}

.banner .name p::before {
  content: "";
  background-image: url(./img/location.png);
  background-size: 10px 12px;
  position: absolute;
  width: 10px;
  height: 12px;
  left: -20px;
  top: 3px;
}

.content div {
  margin-left: 15px;
  margin-right: 15px;
  height: 50px;
  border-bottom: 1px solid #eff0f4;

}

.title {
  color: #999999;
  padding-left: 10px;
  text-align: center;
  line-height: 44px;
}

.title::after {
  content: "";
  display: inline-block;
  background-color: #eff0f4;
  width: 1px;
  height: 16px;
  margin-left: 13px;
}


.skill {
  font-size: 16px;
  line-height: 50px;
  padding-left: 12px;
  border-bottom: 1px solid #eff0f4;
}

.skill div {
  display: inline-block;
  width: 2px;
  height: 13px;
  background-color: #5fc0cd;
  margin-right: 13px;
  vertical-align: middle;
}

.type {
  font-size: 16px;
  line-height: 44px;
}

.type .home,
.dinner {
  width: 16px;
  vertical-align: middle;
}

.type img[name=home] {
  width: 16px;
  padding-left: 6px;
  vertical-align: middle;
}

.type img[name=dinner] {
  width: 16px;
  padding-left: 10px;
  vertical-align: middle;
}

.home::after {
  content: "";
  display: inline-block;
  background-color: #eff0f4;
  width: 1px;
  height: 16px;
  margin-left: 13px;
}


.introduce {
  border-bottom: 1px solid #eff0f4;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 60px;
}

.titleIntr {
  color: #999999;
  padding-left: 15px;
  width: 70px;
}


.introduce .describeIntr {
  margin-left: 12px;
  font-size: 14px;
  width: 70%;
}

.line {
  background-color: #eff0f4;
  width: 1px;
  height: 16px;
  margin-left: 8px
}

.content .describe {
  color: #333333;
  font-size: 16px;
  margin-left: 12px;
}

.content .describePri {
  color: #e26163;
  padding-left: 12px;
}


.footer {
  background: white;
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  justify-content: space-between;
  z-index: 98;
}

.footer button {
  width: 49%;
  height: 44px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  margin: 10px;
  justify-content: space-between;
  outline: #5fc0cd;
}

button[name=message] {
  background: white;
  border: 1px solid #5fc0cd;
  color: #5fc0cd;
}

button[name=tel] {
  background: #5fc0cd;
  color: white;
}
